/*header*/
@media screen and (max-width: 800px) {
  nav a {
    float: left;
  }
  nav a:not(:first-child) {
    display: none;
  }
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  nav.responsive {
    position: relative;
  }
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/*Section*/
@media only screen and (max-width: 800px) {
  section .box-content {
    margin: auto;
    display: block;
    font-size: 12px;
  }
  section .box-content .box-content-text { /*Contenido de texto*/
    padding: 20px 0px;
    margin: 0px auto;
    width: 80%;
  }

  section .box-content .box-content-img { /*Contenido multimedia*/
    margin: 0px auto;
    width: 60%;
  }
}
